
.idea

/app/config/bootstrap.yml
/app/config/config.yml
/app/config/credentials.yml
/app/config/db-routing.yml
/app/config/filters.yml
/app/config/firewall.yml
/app/config/routing.yml
/app/config/services.yml

/vendor


/src
!/src/components/home
!/src/extensions/images
!/src/themes/default
!/src/themes/gossamer
